<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="urlMapping" 
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"> 
        <property name="mappings"> 
            <props> 
                <prop key="/rmi.service">serviceExporter</prop> 
            </props> 
        </property> 
    </bean> 
    <!-- 配置要发布的服务类 -->
    <bean id="helloService" 
          class="com.solstice.impl.HelloServiceImpl"/>

    <bean id="serviceExporter" 
          class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="helloService"/>
        <property name="serviceInterface" 
               value="com.solstice.service.IHelloService"/>
    </bean>

</beans>